.zToggleGroup {
	display: flex;
	width: fit-content;
	align-items: center;
}

.zToggleGroupItem {
	flex-shrink: 0;
	min-width: 0;
	border-radius: 0;
}

.zToggleGroupItem:not(:first-child) {
	margin-left: -1px;
}

.zToggleGroupItem:first-child {
	border-radius: var(--radius-md) 0 0 var(--radius-md);
}

.zToggleGroupItem:last-child {
	border-radius: 0 var(--radius-md) var(--radius-md) 0;
}

.zToggleGroupItem:only-child {
	border-radius: var(--radius-md);
}

.zToggleGroupItem:hover,
.zToggleGroupItem[data-state='on'],
.zToggleGroupItem:focus-visible {
	position: relative;
	z-index: 1;
}
